<template>
	<section>
		<!--toolbar-->
		<el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
			<el-form :inline="true" :model="filters">
				<el-form-item>
					<el-input v-model="filters.name" placeholder="name" name="searchtext"></el-input>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" v-on:click="getLeadboard">Search</el-button>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="handleAdd">Add</el-button>
				</el-form-item>
			</el-form>
		</el-col>

		<!--list-->
		<el-table :data="leadboards" highlight-current-row v-loading="listLoading" @selection-change="selsChange" style="width: 100%;">
			<el-table-column type="selection" width="55">
			</el-table-column>
			<el-table-column type="index" label="ID" width="60">
			</el-table-column>
			<el-table-column prop="name" label="Name" width="120">
			</el-table-column>
			<el-table-column label="Action" width="200">
				<template scope="scope">
					<el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
					<el-button type="danger" size="small" @click="handleDel(scope.$index, scope.row)">Delete</el-button>
				</template>
			</el-table-column>
		</el-table>

		<!--dialog-->
		<el-dialog :title="formTitle+' Leadboard'" :visible.sync="formVisible" :close-on-click-modal="false">
			<el-form :model="form" label-width="80px" :rules="formRules" ref="form">
				<el-form-item label="Name" prop="name" label-width="90px">
					<el-input v-model="form.name" auto-complete="off" name="name"></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click.native="formVisible = false">Cancel</el-button>
				<el-button type="primary" @click.native="handleSubmit" :loading="loading">Submit</el-button>
			</div>
		</el-dialog>
	</section>
</template>

<script>
  import axios from 'axios'
  const qs = require('querystring')

	export default {
		data() {
			return {
				filters: {
					name: ''
				},
				leadboards: [],
				listLoading: false,
				sels: [],

				formVisible: false,
			  loading: false,
				formRules: {
					name: [
						{ required: true, message: 'please input name', trigger: 'blur' }
					]
				},

        formTitle: '',
				form: {
					id: 0,
					name: ''
				}

			}
		},
		methods: {
      //get all
			getLeadboards() {
				this.listLoading = true;
				axios.get('https://blooming-spire-59897.herokuapp.com/leadboard').then(data => {
          if (data.status === 200) {
            this.listLoading = false
            this.leadboards = data.data
          }
        })
			},
      //get one
      getLeadboard() {
        this.listLoading = true;        
        axios.get(`https://blooming-spire-59897.herokuapp.com/leadboard/${this.filters.name}`).then(data => {
          console.log(data.data)
          if (data.status === 200) {
            this.listLoading = false
            this.leadboards = data.data.data
          }
        })
      },
			//delete
			handleDel: function (index, row) {
				this.$confirm('Are you sure you want to delete it?', 'tips', {
          confirmButtonText: 'Sure',
          cancelButtonText: 'Cancel',
					type: 'warning'
				}).then(() => {
					this.listLoading = true;
					let params = { name: row.name };
          let options = {
            method: 'DELETE',
            headers: { 'content-type': 'application/x-www-form-urlencoded' },
            data: qs.stringify(params),
            url: `https://blooming-spire-59897.herokuapp.com/leadboard/${params.name}`
          };
					axios(options).then((res) => {
						this.listLoading = false;
						this.$message({
							message: 'Delete success',
							type: 'success'
						});
						this.getLeadboards();
					});
				}).catch((err) => {
          console.log(err)
				});
			},
			//edit
			handleEdit: function (index, row) {
        this.formTitle = 'Edit'
				this.formVisible = true;
				this.form = Object.assign({}, row);
			},
			//add
			handleAdd: function () {
        this.formTitle = 'Add'
				this.formVisible = true;
			},
			handleSubmit: function () {
        let _this = this;
        this.$refs.form.validate((valid) => {
					if (valid) {
						this.loading = true;
						let params = Object.assign({}, this.form);
            let options = {
              method: this.formTitle === 'Add' ? 'POST' : 'PUT',
              headers: { 'content-type': 'application/x-www-form-urlencoded' },
              data: qs.stringify(params),
              url: this.formTitle === 'Add' ? 'https://blooming-spire-59897.herokuapp.com/leadboard' : `https://blooming-spire-59897.herokuapp.com/leadboard/${params._id}`
            };
            axios(options).then(data => {
              this.loading = false;
              if (data.status !== 200) {
                this.$message({
                  message: data.data.message,
                  type: 'error'
                });
              } else {
                this.$message({
							  	message: data.data.message,
							  	type: 'success'
							  });
                this.$refs['form'].resetFields();
							  this.formVisible = false;
							  this.getLeadboards();
              }
            }).catch((err) => {
              console.log(err)
            })
					}
				});
      },
			selsChange: function (sels) {
				this.sels = sels;
			}
		},
		mounted() {
			this.getLeadboards();
		}
	}

</script>

<style scoped>

</style>
