<template>
  <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-position="left" label-width="0px" class="demo-ruleForm login-container">
    <el-form-item prop="checkPass" style="width:30%; margin-top: 20px">
      <el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off" placeholder="password"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click.native.prevent="handleSubmit2" :loading="logining">Submit</el-button>
      <!--<el-button @click.native.prevent="handleReset2">重置</el-button>-->
    </el-form-item>
  </el-form>
</template>

<script>
  import axios from 'axios'
  const qs = require('querystring')

  export default {
    data() {
      return {
        logining: false,
        ruleForm2: {
          checkPass: ''
        },
        rules2: {
          checkPass: [
            { required: true, message: 'please input password', trigger: 'blur' },
            //{ validator: validaePass2 }
          ]
        },
        checked: true
      };
    },
    methods: {
      handleReset2() {
        this.$refs.ruleForm2.resetFields();
      },
      handleSubmit2(ev) {
        this.$refs.ruleForm2.validate((valid) => {
          if (valid) {
            this.logining = true;
            let params = { 'password': this.ruleForm2.checkPass };
            let options = {
              method: 'PUT',
              headers: { 'content-type': 'application/x-www-form-urlencoded' },
              data: qs.stringify(params),
              url: `https://blooming-spire-59897.herokuapp.com/user/${params.password}/password`
            };
            axios(options).then(data => {
              this.logining = false;
              console.log('data',data)
              if (data.status !== 200) {
                this.$message({
                  message: data.data.message,
                  type: 'error'
                });
              } else {
                this.$message({
                       message: 'Change success',
                       type: 'success'
                });
              }
              // eslint-disable-next-line no-unused-vars
            }).catch((err) => {
              // eslint-disable-next-line no-console,no-undef
              console.log(data)
            })
          } else {
            // eslint-disable-next-line no-console
            console.log('error submit!!');
            return false;
          }
        });
      }
    }
  }

</script>

<style lang="scss" scoped>
  
</style>